@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* padding-top: 0.5em; */
}

.wrapper {
  margin-bottom: 5em;
}

body {
  margin: auto;
  /* scroll-behavior: smooth; */
  /* background-image: url(""); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: slategrey;
  max-width: 800px;
  border-radius: 20px;
  /* max-height: 500px; */
  /* height: 100vw; */
  font-family: "Open Sans", sans-serif;
  /* padding-bottom: 100px; */
  margin-top: 1em;
  /* margin-bottom: 100px; */
  /* font-size: small; */
}

.poolTable {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: table;
  padding: 0 0 0.1em 0;
  border-radius: 1em;
}

.container {
  max-width: 200vh;
  /* margin: 1px auto; */
  /* overflow: auto; */
  /* min-height: 300px;  */
  border: 1px solid steelblue;
  /* padding: 1px; */
  border-radius: 0.5em;
  /* border: none; */
  /* padding-top: 2.5em; */
  /* margin-top: 1em; */
  background-color: #ededed;
}

.poolSelection {
  width: 100%;
  padding: 1em;
  display: grid;
  /* align-items: center; */
}

.poolSelection h1 {
  font-size: 3em/*5vh;*/
}

.poolSelection span {
  width: 100%;
  text-align: center;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
  color: rgb(186, 184, 184);
}

table {
  width: 100%;
  height: 1px;

  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px #666;
  border-radius: 1em;
}

.choice-field,
.choice-field:active {
  /* background-color: red; */
  display: block;
  padding: auto;
  margin: auto;
  width: 100%;
  height: 100%;
  align-items: center;
  cursor: pointer;
}

.selected {
  background-color: darkred;
}

.choice-field:hover {
  opacity: 2;
  z-index: 1000;
  background-color: yellow;
}

tr,
th,
td {
  border-bottom: 2px solid black;
  /* border-collapse: collapse; */
  background-color: #e8e8e8;
  /* box-shadow: 0 0 0 1x #555; */
  text-align: center;
  align-items: center;
  border-spacing: 0;
}

table tr:last-child td:first-child {
  /* border: 2px solid orange; */
  border-bottom-left-radius: 1em;
}
table tr:first-child th:first-child {
  /* border: 2px solid red; */
  border-top-left-radius: 1em;
}
table tr:first-child th:last-child {
  /* border: 2px solid red; */
  border-top-right-radius: 1em;
}

table tr:last-child td:last-child {
  /* border: 2px solid green; */
  border-bottom-right-radius: 1em;
}

table td img {
  border-radius: 50%;
  border: solid 2px #003c58;
  object-fit: cover;
  width: 5vh;
  height: 5vh;
}

h1 {
  font-size: 5vh; /*em*/
  padding: 0;
  text-align: center;
  color: #003c58;
}
h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
  color: #d0021e;
}

.subTitle {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 10px;
  color: white;
}

.header {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 1em;

  background-color: #003c58;
  /* align-content: center; */
  /* text-align: center; */
  text-transform: uppercase;
  /* justify-content: center; */
  /* vertical-align: middle; */
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #e2dedede;
  margin-top: 5px;
  padding: 1px 20px;
  border-radius: 0.5em;
  /* width: 100%; */
  /* cursor: pointer; */
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  /* font-size: 1em; */
  /* font-size: 3.5vw; */
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.input-name {
  align-content: center;
  text-align: center;
  height: 28px;
}

.form-control {
  margin: 10px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  align-content: center;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.p {
  z-index: -1;
  position: fixed;
  left: 0px;
  top: 50px;
  width: 1px;
  height: 1px;
  background-color: white;
  position: fixed;
  animation-name: particleAnimation;
  animation-timing-function: infinite;
  animation-iteration-count: infinite;
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}
/*
.bplanet {
  background-image: url("imgs/IMG.PNG");
  height: 100px;
  width: 100px;
  
}

.background-fullviewport {
  right: -50vh;
  width: 100vh;
  padding: 20px;
  height: 0;
}

h1 {
  padding: 1vh;
}

@media screen and (max-width: 992px) {
}

#logo {
  max-height: 100px;
}

@keyframes mymove {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.icon {
  position: absolute;
  pointer-events: none;
  animation: mymove 1.5s;
  animation-duration: 1.5s;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: mymove;
  animation-iteration-count: infinite;
  font-size: 45px;
} */

.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "✔";
  padding-left: 10px;
  background-color: #060;
  color: #fff;
}
.inner:after {
  content: "✖";
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 24px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 40px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}

.name-double-triple {
  color: #666;
}

.totales {
  display: flex;
  height: 10vh;
  padding-left: 0.1em;
  padding-right: 0.1em;
  justify-content: space-between;
  text-align: center;
}
#clean-btn {
  background-color: #4f030c;
  color: white;
  font-size: larger;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  /* transition: background-color 250ms ease-out; */
}

@keyframes rippleEffect {
  from {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  to {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.92);
  }
  to {
    transform: scale(1);
  }
}

@keyframes bounce {
  50% {
    transform: rotate(5deg) translate(20px, -50px);
  }
  to {
    transform: scale(0.9) rotate(10deg) translate(50px, -80px);
    opacity: 0;
  }
}


@keyframes bouncev {
  50% {
    transform: rotate(90deg) translate(0px, -30px);
    /* transform:   scale(.1,.9); */
  }
  80% {
    transform: scale(.1,.9);
    opacity: 0;
  }
}

@keyframes gradient {
  0% {
    background: radial-gradient(
      circle at center,
      rgba(255, 125, 125, 0) 0%,
      #fff 0%,
      #fff 100%
    );
  }
  25% {
    background: radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.3) 24%,
      #fff 25%,
      #fff 100%
    );
  }
  50% {
    background: radial-gradient(
      circle at center,
      rgba(0, 0, 0, 0.5) 49%,
      #fff 50%,
      #fff 100%
    );
  }
  75% {
    background: radial-gradient(
      circle at center,
      rgba(7, 7, 7, 0.8) 74%,
      #fff 75%,
      #fff 100%
    );
  }
  100% {
    color: #fff;
    background: radial-gradient(
      circle at center,
      rgb(1, 1, 1) 99%,
      #fff 100%,
      #fff 100%
    );
  }
}

#2clean-btn:focus:active {
  /* background-color: #ffc107; */
  /* animation: gradient 100ms; */
  /* animation: press 1.2s 1 linear; */
  /* animation: bounce .2s 1 linear; */
  box-shadow: none;
  /* stroke: #003c58; */
  /* transform: scale(0); */
  /* transition: transform .3s ease-in; */
  animation: gradient 200ms;

  /* transform: translate(-50%,-50%); */
  /* animation: rippleEffect 1s linear infinite; */
  /* mix-blend-mode: difference; */
  /* background: radial-gradient(
    circle at center,
    white 20%,
    white 30%,
    #000 100%
  );
  transform: scale(2.0); */
}

@keyframes shake-h {
  0% {
    transform: translateX(20px);
  }
  20% {
    transform: translateX(40px);
  }
  40% {
    transform: translateX(60px);
  }
  60% {
    transform: translateX(80px);
  }
  80% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(-150px);
  }
}

@keyframes shake {
  0% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(20deg);
  }
  /* 100% {
    transform: rotate(-1deg);
  } */
}

@keyframes denied {
  0% {
    transform: translateX(10px);
  }
  20% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}


.animation-btn {
  animation: shake-h 0.9s 1 linear;
  /* animation: gradient 300ms; */
  /* animation: press .5s linear; */
}

.animation-denied {
  animation: denied 0.6s 1 linear;
}

.animation-btn-add {
  animation: press 0.9s linear;
}

.animation-btn-add-icon {
  animation: bounce .6s 1 ease-out;
}

.bounce-btn{
  animation: bouncev .9s 1 linear;
}

button svg {
  pointer-events: none;
}

#add-icon {
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

#confirm-add-icon {
  color: green;
  cursor: pointer;
  margin-left: 10px;
  /* size: 25px; */
  /* animation: shake .9s 1 linear; */
  /* animation: shake 0.9s 1 linear; */
  /* animation: bounce 0.2s 1 linear; */
  /* display: none; */
  /* visibility: hidden; */
}

#send-btn {
  /* animation: shake-h 0.8s 1 linear; */
}

@media only screen and (min-device-width: 360px) and (max-device-width: 740px) and (-webkit-min-device-pixel-ratio: 2) {
  .totales {
    display: block;
    height: 18vh;
  }

  .task h3 {
    font-size: smaller /*3.5vw;*/
  }
}
